/* Navbar.css */
* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar-auth-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.navbar-links a {
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-auth-links .login-btn,
.navbar-auth-links .signup-btn {
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.navbar-auth-links .login-btn {
  background-color: rgb(231, 229, 229);
  color: #000000;
  font-weight: 600;
  padding-inline: 15px;
}

.navbar-auth-links .login-btn:hover {
  background-color: #f1f1f1;
  border-color: #ccc;
}

.navbar-auth-links .signup-btn {
  border: 1px solid rgb(76, 175, 80);
  background-color: #4caf50;
  color: #ffffff;
  font-weight: 600;
}

.navbar-auth-links .signup-btn:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.navbar-links a:hover {
  color: #00bcd4;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
